# Pin the documentation tools to known-compatible releases. Zensical's Mike
# integration uses a temporary fork that is not published on PyPI.
zensical==0.0.57
mike @ git+https://github.com/squidfunk/mike.git@2d4ad799442f4592db8ad53b179bfb33db8c69ac
